/* Color Palette 👇 */
/* ● Seashell -> #FFF0EB(HEX);
  -> rgb(255, 240, 235);
  ● New York Pink -> #E5958E(HEX);
  -> rgb (229, 149, 142);
  ● Vivid Tangerine -> #FDB095(HEX);
  -> rgb (253, 176, 149);
  ● Russian Violet -> #210440(HEX);
  -> rgb (33, 4, 64);
  ● Blue Munsell -> #028BA3(HEX);
  -> rgb (2, 139, 163);
  ● Selective Yellow -> #FFBA00(HEX);
  -> rgb (255, 186, 0);
  */

.homePage-mainContainer {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.homePage-mainContainer p {
  font-size: 30px;
  font-weight: bolder;
  letter-spacing: 2px;
  margin-bottom: 0px;
  width: 200px;
  animation: slide 1s;
}

@keyframes slide {
  from {
    margin-right: 100%;
  }
  to {
    margin-right: 0%;
  }
}

.homePage-videoWrapper {
  margin: 0;
  padding: 0;
  font-family: "Arial Black";
  font-weight: bold;
  background-color: white;
  text-align: center;
  position: relative;
  width: 1000px;
  height: 520px;
  overflow: hidden;
  /* opacity: 0; */
  animation: fadeIn 3s;
  animation-delay: 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.homePage-videoWrapper video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.homePage-videoWrapper h1 {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #fff;
  text-align: center;
  mix-blend-mode: screen;
  font-size: 190px;
}
