/* Color Palette 👇 */
/* ● Seashell -> #FFF0EB(HEX);
  -> rgb(255, 240, 235);
  ● New York Pink -> #E5958E(HEX);
  -> rgb (229, 149, 142);
  ● Vivid Tangerine -> #FDB095(HEX);
  -> rgb (253, 176, 149);
  ● Russian Violet -> #210440(HEX);
  -> rgb (33, 4, 64);
  ● Blue Munsell -> #028BA3(HEX);
  -> rgb (2, 139, 163);
  ● Selective Yellow -> #FFBA00(HEX);
  -> rgb (255, 186, 0);
  */

.login-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.login-greeting {
  letter-spacing: 2px;
  margin: 2rem;
}

.login-page-container > svg {
  width: 20em;
  position: absolute;
  margin: -7.5em 23em;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
  width: 30%;
}

.login-form > label,
input {
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

.login-form > label {
  font-size: 1.5em;
  letter-spacing: 2px;
  margin-top:10px;
}

.login-form > input {
  background: #ecf0f3;
  padding: 1em;
  padding-left: 1.5em;
  height: 3em;
  font-size: 14px;
  border-radius: 50px;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

.login-submit-btn {
  background: #ffba00;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 900;
  box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
  transition: 0.5s;
  width: 50%;
  margin: 1.5rem;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

.login-submit-btn:hover {
  box-shadow: none;
}

@media (min-width: 320px) and (max-width: 1024px) {
  .login-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }

  .login-page-container svg{
    position: relative;
    margin: 0;
    width: 200px;
    height: auto;
  }

  .login-form {
    width: 250px;
  }

  .login-greeting {
    font-size: 15px;
  }
}