/* Color Palette 👇 */
/* ● Seashell -> #FFF0EB(HEX);
  -> rgb(255, 240, 235);
  ● New York Pink -> #E5958E(HEX);
  -> rgb (229, 149, 142);
  ● Vivid Tangerine -> #FDB095(HEX);
  -> rgb (253, 176, 149);
  ● Russian Violet -> #210440(HEX);
  -> rgb (33, 4, 64);
  ● Blue Munsell -> #028BA3(HEX);
  -> rgb (2, 139, 163);
  ● Selective Yellow -> #FFBA00(HEX);
  -> rgb (255, 186, 0);
  */

/* TEACHER LOGGED IN 👇 */

.myPortal-container {
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: row;*/
  justify-items: center;
  justify-content: space-evenly;
  width: 100vw;
  margin-top: 50px;
}
.myPortal-container > div {
  padding: 0.5em;
  background: #028ba3;
  border-radius: 20px;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  box-shadow: 10px 10px 15px #47919e;
  margin-bottom: 20px;
}
.myPortal-container > div > a {
  color: #210440;
  background: #ffba00;
  border-style: solid;
  border-radius: 10px;
  box-shadow: 10px 10px 15px #ffba00;
  padding: 10px;
  text-decoration: none;
  letter-spacing: 1px;
  margin-top: 10px;
  font-weight: bold;
  font-size: 18px;
  font-family: "Times New Roman";
}

.myPortal-container > div > a:hover {
  transform: scale(1.1);
}

.myPortal-container > div > svg {
  padding-top: 10px;
  width: 300px;
}

/* STUDENT LOGGED IN 👇 */

.myPortal-h1 h1 {
  letter-spacing: 3px;
}

.myPortal-classes-container {
  display: flex;
  justify-items: center;
  justify-content: space-evenly;
  width: 100vw;
  margin-top: 50px;
}

.myPortal-classes-container > div {
  padding: 0.5em;
  background: #210440;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  box-shadow: 10px 10px 15px #463458;
}

.myPortal-classes-container > div > a {
  letter-spacing: 1px;
  text-decoration: none;
  color: #fff0eb;
  font-family: "Times New Roman";
  padding: 0px 20px;
}

.myPortal-classes-container > div > a:hover {
  color: #ffba00;
  transform: scale(1.1);
}
