/* Color Palette 👇 */
/* ● Seashell -> #FFF0EB(HEX);
  -> rgb(255, 240, 235);
  ● New York Pink -> #E5958E(HEX);
  -> rgb (229, 149, 142);
  ● Vivid Tangerine -> #FDB095(HEX);
  -> rgb (253, 176, 149);
  ● Russian Violet -> #210440(HEX);
  -> rgb (33, 4, 64);
  ● Blue Munsell -> #028BA3(HEX);
  -> rgb (2, 139, 163);
  ● Selective Yellow -> #FFBA00(HEX);
  -> rgb (255, 186, 0);
  */

.profile-page {
  background-color: rgb(255, 240, 235);
  color: #210440;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.profile-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 30em;
  border-radius: 20px;
  margin: 2rem auto;
  box-sizing: border-box;
  background: #ecf0f3;
  box-shadow: 10px 10px 15px #cbced1, -10px -10px 15px white;
}

.profile-main-container-img {
  border-radius: 50%;
  box-sizing: border-box;
  box-shadow: 7px 7px 10px #cbced1, -7px -7px 10px white;
}

.profile-updates-toggle > button {
  background-color: #028ba3;
  color: #fff0eb;
  font-size: 1em;
  font-weight: bolder;
  padding: 0.5em 1em;
  border: none;
  border-radius: 4px;
  box-shadow: 0 0 5px 0 #63c6d8;
  cursor: pointer;
  margin: 1em;
  transition: all 0.2s ease-in-out;
}

.profile-updates-toggle > button:hover {
  transform: scale(1.05);
  background-color: #ffba00;
}

/* Update Password Form 👇 */

.profile-update-password-form > input {
  background: #ecf0f3;
  padding: 1em;
  padding-left: 1.5em;
  height: 3em;
  font-size: 14px;
  border-radius: 50px;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

.profile-update-password-form > label {
  margin-bottom: 4px;
  font-size: 18px;
  font-weight: bolder;
  letter-spacing: 1px;
}

.profile-update-password-form > label,
input {
  display: block;
  width: 100%;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

.update-password-form-btn {
  /* margin-top: 20px; */
  background: #ffba00;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 900;
  box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
  transition: 0.5s;
  display: block;
  width: 100%;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

.update-password-form-btn:hover {
  box-shadow: none;
}

/* Update Profile Form 👇 */

.profile-update-form > label {
  font-size: 18px;
  font-weight: bolder;
  letter-spacing: 1px;
  margin-bottom: 4px;
}
.profile-update-form > input {
  background: #ecf0f3;
  padding: 1em;
  padding-left: 1.5em;
  height: 3em;
  font-size: 14px;
  border-radius: 50px;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

.profile-update-form-btn {
  background: #ffba00;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 900;
  box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
  transition: 0.5s;
  display: block;
  width: 100%;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

.profile-update-form-btn:hover {
  box-shadow: none;
}

/* Update Profile Pic Form👇 */

.profile-update-pic-form > input {
  background: #ecf0f3;
  padding: 1em;
  padding-left: 1.5em;
  height: 3em;
  font-size: 14px;
  border-radius: 50px;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

.update-pic-form-btn {
  background: #ffba00;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 900;
  box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
  transition: 0.5s;
  display: block;
  width: 100%;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  margin-bottom: 1.5em;
}

.update-pic-form-btn:hover {
  box-shadow: none;
}
