/* Color Palette 👇 */
/* ● Seashell -> #FFF0EB(HEX);
  -> rgb(255, 240, 235);
  ● New York Pink -> #E5958E(HEX);
  -> rgb (229, 149, 142);
  ● Vivid Tangerine -> #FDB095(HEX);
  -> rgb (253, 176, 149);
  ● Russian Violet -> #210440(HEX);
  -> rgb (33, 4, 64);
  ● Blue Munsell -> #028BA3(HEX);
  -> rgb (2, 139, 163);
  ● Selective Yellow -> #FFBA00(HEX);
  -> rgb (255, 186, 0);
  */

.signup-greeting {
  letter-spacing: 2px;
  width: 25em;
  margin: 2rem auto;
}

.signup-illustration {
  width: 25em;
  margin: -2.5em auto;
}

.signup-form {
  width: 25em;
  margin: -4rem auto;
}

.signup-form > label,
input {
  display: block;
  width: 100%;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}
.signup-form > label {
  font-size: 1.5em;
  letter-spacing: 1px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.signup-form > input {
  margin-left: 1em;
  background: #ecf0f3;
  padding: 1em;
  padding-left: 1.5em;
  height: 3em;
  font-size: 14px;
  border-radius: 50px;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

.signup-radio-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 12em;
  margin: 1.5em auto;
}

.signup-submit-btn {
  background: #ffba00;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 900;
  box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
  transition: 0.5s;
  display: block;
  width: 50%;
  margin: 1.5rem auto;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

.signup-submit-btn:hover {
  box-shadow: none;
}
