/* Color Palette 👇 */
/* ● Seashell -> #FFF0EB(HEX);
  -> rgb(255, 240, 235);
  ● New York Pink -> #E5958E(HEX);
  -> rgb (229, 149, 142);
  ● Vivid Tangerine -> #FDB095(HEX);
  -> rgb (253, 176, 149);
  ● Russian Violet -> #210440(HEX);
  -> rgb (33, 4, 64);
  ● Blue Munsell -> #028BA3(HEX);
  -> rgb (2, 139, 163);
  ● Selective Yellow -> #FFBA00(HEX);
  -> rgb (255, 186, 0);
  */

.nav-container {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-gap: 1em;
  place-items: center center;
  padding: 1em;
  /* justify-content: space-around;
  flex-wrap: wrap; */
  background: #210440;
  /* font-weight: bold; */
  font-size: large;
  letter-spacing: 2px;
}

.nav-myPortal {
  color: #fff0eb;
  text-decoration: none;
}

.nav-myPortal:hover {
  color: #ffba00;
}

.nav-userGreeting {
  color: #fff0eb;
  display: flex;
  align-items: center;
}

.nav-userGreeting h3 {
  margin-left: 0.5em;
}

.nav-userGreeting-img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  margin: 0.5em;
  box-sizing: border-box;
  box-shadow: 3px 3px 5px #cbced1, -3px -3px 5px white;
}

.nav-authLink {
  color: #fff0eb;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.nav-authLink + .nav-authLink {
  padding: 1em;
}

.nav-authLink:hover {
  color: #ffba00;
}

.nav-profile-link {
  color: #fff0eb;
  text-decoration: none;
  margin-left: 1em;
}

.nav-profile-link:hover {
  color: #ffba00;
}

.nav-logout-btn {
  font-family: inherit;
  font-weight: inherit;
  padding: 0.5em 1em;
  margin-left: 1em;
  background-color: #028ba3;
  box-shadow: 0 0 5px 0 aliceblue;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  color: #e3f2ff;
  transition: all 0.2s ease-in-out;
  position: sticky;
  top: 0;
}

.nav-logout-btn:hover {
  transform: scale(1.05);
  background-color: #ffba00;
}
