/* Color Palette 👇 */
/* ● Seashell -> FFF0EB(HEX);
  -> rgb(255, 240, 235);
  ● New York Pink -> E5958E(HEX);
  -> rgb (229, 149, 142);
  ● Vivid Tangerine -> FDB095(HEX);
  -> rgb (253, 176, 149);
  ● Russian Violet -> 210440(HEX);
  -> rgb (33, 4, 64);
  ● Blue Munsell -> 028BA3(HEX);
  -> rgb (2, 139, 163);
  ● Selective Yellow -> FFBA00(HEX);
  -> rgb (255, 186, 0);
  */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
